<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convierte Texto a MP3</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <div class="container">
        <h1><i class="fas fa-ear"></i>VozLibro</h1>

        <!-- Formulario de Conversión -->
        <form method="POST" action="/" enctype="multipart/form-data" id="fileForm">
            <label for="file" class="form-label"></label>
            <input type="file" class="form-control" id="file" name="file" accept=".pdf, .docx, .txt">
            <button type="submit" class="btn-primary">Descargar</button>
        </form>

        <!-- Nuevo: Área de Texto -->
        <div>
            <label for="text" class="form-label">Texto para Leer:</label>
            <textarea class="form-control" id="text" name="text" rows="4" placeholder="Escribe o pega tu texto aquí"></textarea>
            <button type="button" onclick="readText()" class="btn-primary">Leer Texto</button>
        </div>
        <!-- Mensajes Flash -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flash-messages">
            {% for message in messages %}
            {% if message %}
            <li>{{ message }}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>

    <img src="{{ url_for('static', filename='9657592.png') }}" alt="" class="img">

</body>
</html>
